.cell {
  width: 5%;
  padding: 3px;
  margin: 0px;
  border-right: #101820 1px solid;
  overflow: hidden;
  white-space: nowrap;
}

.cell:last-of-type {
  border-right: none;
}

.cell:first-of-type, 
.cell:nth-of-type(2) { 
  width: 15%;
}

.cell:nth-of-type(3) {
  width: 10%;
}