.cell {
  min-width: 125px;
  padding: 5px;
  margin: 0px;
  border-right: #101820 1px solid;
}

.cell:last-of-type {
  border-right: none;
}

.cell:first-of-type, 
.cell:nth-of-type(2) { 
  overflow-y: hidden;
  min-width: 200px;
}

.cell:nth-of-type(3) {
  min-width: 175px;
}