.column-header {
  height: 100%;
  color: #919395;
  cursor: pointer;
  text-align: center;
  background-color: #283745;
  min-width: 105px;
  padding: 5px;
  margin: 0px;
  border-right: 1px solid #101820;
  font-size: 80%;
}

.column-header:first-of-type {
  position: sticky;
  left: 0px;
}

.column-header:nth-of-type(2) {
  position: sticky;
  left: 241px;
}

.column-header:last-of-type {
  border-right: none;
}

.column-header:first-of-type, 
.column-header:nth-of-type(2) { 
  overflow: hidden;
  min-width: 230px;
}

.column-header:nth-of-type(3) {
  min-width: 175px;
}
