.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details > p {
  color: #919395;
}

.songs-table {
  width: 100vw;
  height: calc(100vh - 10vh);
  overflow-x: auto;
  overflow-y: auto;
}

.column-headers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: fit-content;
  max-height: 2.75vh;
  border: #101820 0.5px solid;
  position: sticky;
  top: -1px;
  z-index: 5;
}