.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details > p, li {
  color: #919395;
}

.column-headers {
  display: flex;
  justify-content: center;
  width: 100%;
  border: #101820 0.5px solid;
}