.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details > p {
  color: #919395;
}

.songs-table {
  width: 90vw;
  height: 70vh;
  margin-bottom: 50px;
  overflow-x: auto;
  overflow-y: auto;
}

.column-headers {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 3vh;
  border: #101820 0.5px solid;
}