.row {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 2.75vh;
  border: #101820 0.5px solid;
}

.row {
  border-top: none;
}

.light {
  background-color: #496682;
}

.dark {
  color: #919395;
  background-color: #274057;
}